.header_1 {
  background-color: #ffffff;
  padding: 20px;
  position: sticky;
  top: -10px;
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
} 

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }

  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }

  input{
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  article, section {
    background-color: white;
    padding: 60px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #tentang {
    left: 0px;
    right: 0px;
  }

  .container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
  }

  button:hover {
    background-color: #45a049;
  }

  footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
